$bgColor: #f7f7f7;
$jaggedDistance: 32px;

$cartSize: $jaggedDistance * 5;
$cartBg: $bgColor;
$cartShadow: darken($cartBg, 5%);
$cartFaceSize: round($jaggedDistance / 1.3333);
$cartFaceColor: #9b9b9b;

// ===========

@keyframes floating {
	0% {
		transform: translate3d(0, 0, 0);
	}
	45% {
		transform: translate3d(0, -10%, 0);
	}
	55% {
		transform: translate3d(0, -10%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes floatingShadow {
	0% {
		transform: scale(1);
	}
	45% {
		transform: scale(0.85);
	}
	55% {
		transform: scale(0.85);
	}
	100% {
		transform: scale(1);
	}
}

.containerEmptyCart {
	font-family: 'Varela Round', sans-serif;
	color: $cartFaceColor;
	position: relative;
	height: 50vh;
	text-align: center;
	font-size: $jaggedDistance / 2;

	h1 {
		font-size: $jaggedDistance;
		margin-top: $jaggedDistance;
	}
}

.cart-wrapper {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cart {
	animation: floating 3s ease-in-out infinite;
}

.shadow {
	width: $cartSize - $jaggedDistance;
	height: $jaggedDistance / 2;
	background-color: rgba($cartShadow, 0.75);
	margin-top: $jaggedDistance * 1.25;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	animation: floatingShadow 3s ease-in-out infinite;
}
