.checkout {
	margin: 100px auto;
	text-align: left;
}

.steps-content {
	margin-top: 16px;
	border: 1px dashed #e9e9e9;
	border-radius: 6px;
	background-color: #fafafa;
	min-height: 200px;
	text-align: center;
	padding-top: 80px;
}

.steps-action {
	margin-top: 24px;
}

.rc-steps-item-finish .rc-steps-item-title:after {
	background-color: teal;
}

.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon {
	color: teal;
}

.rc-steps-item-custom.rc-steps-item-process
	.rc-steps-item-icon
	> .rc-steps-icon {
	color: teal;
}
