.checkout {
	margin: 100px auto;
	text-align: left;
}

.steps-content {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	// background-color: #fafafa;
	padding: 10px;

	&--left {
		width: 500px;
	}

	&--right {
		width: 400px;

		&--content {
			padding: 20px;
			border-radius: 5px;
			border: 1px solid #c5c5c57a;
			background-color: #fafafa;

			& > p {
				text-align: center;
				color: #659be0;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

.steps-action {
	margin-top: 24px;
}

.rc-steps-item-finish .rc-steps-item-title:after {
	background-color: teal;
}

.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon,
.rc-steps-item-custom.rc-steps-item-process
	.rc-steps-item-icon
	> .rc-steps-icon {
	color: teal;
}

.ui.list .list > .item > .icon + .content,
.ui.list .list > .item > .image + .content,
.ui.list > .item > .icon + .content,
.ui.list > .item > .image + .content {
	vertical-align: top !important;
}
