.filters-wrapper {
	padding: 15px;
}

.input-wrapper {
	display: flex;
	@media only screen and (max-width: 768px) {
		flex-direction: column;
	}
	.min-input,
	.max-input {
		flex: 0 1 40%;
	}
	button {
		flex: 0 1 20%;
	}
}
