@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.column-shadow-block {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.slick-slide.slick-center img {
	box-shadow: 0 0 6px #969696;
	z-index: 100;
}
.slider-item {
	position: relative;
	img {
		margin: auto;
	}
}
.slider-text {
	position: absolute;
	bottom: 55px;
	z-index: 200;
	padding: 19px 76px;
	font-size: 35px;
	font-weight: 600;
	left: 0;
	/* text-align: center; */
	/* font-weight: bold; */
	background: #fff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.slider-wrapper {
	transition: opacity 2s;
}
