.category-label-wrapper {
	.category-label {
		font-size: 3.5rem;
		font-weight: 600;
	}
}
.products-section {
	display: flex;
	flex-direction: column;
	.products-pagination {
		margin: 20px auto 0 auto !important;
	}
}
