.ui.tabular.menu .active.item {
	border-width: 2px;
	border-color: #00b5ad;

	margin-bottom: -3px;

	z-index: 2;
}

.ui.bottom.attached.segment.active.tab {
	border: 2px solid #00b5ad !important;
}

.product-img {
	img {
		display: block;
		max-height: 600px;
		max-width: 100%;
		pointer-events: none;
		margin: auto;
	}
}

.ui.sticky.fixed,
.ui.sticky.bound {
	z-index: 1;
}
.right-product-section {
	display: flex;
	height: 100%;
	flex-direction: column;
	border-left: 1px solid #eee;
	padding-left: 20px;
}
.product-description {
	margin-bottom: 47px;
	font-size: 16px;
}
.right-wrapper {
	margin: auto;
}

.price-btn-wrapper {
	display: flex;
	.product-price {
		font-weight: bold;
		color: #b90b0d;
		font-size: 32px;

		padding: 2px 13px;
		border-radius: 7px;
		margin-left: auto;
		margin-right: 3px;
	}

	.product-buy {
		margin-right: auto;
	}
}
